body {
  padding-top: 60px;
  background-image: url('/images/cloudy-background.png');
  background-size: 100% auto;
  opacity: 0.95;
}

.brand img {
  height: 28px;
  margin: -5px 10px 0 0; //t r b l
}

.form-signup, .form-signin {
  width: 400px;
  margin: 0 auto;
}

.table td{
  font-size: medium;
}

footer a {
	color: #333;
	text-decoration: underline;

}
